/* Declaration de la variable Couleur */
:root {
    --bg-couleur: #080149;
    --bg-couleur2: #000000;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Partie index */

.main_index {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    /* background-image: url(bgC.png); */
    /* background-size: cover; */
    background-position: center;
    width: 80%;
    height: 100%;
    animation: bganim infinite 2s  alternate-reverse ease-in-out;

}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #050404dd;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000000c5;
    animation: bganim2 infinite  5s  alternate ease-in-out;
}
.div1 h1{
    text-align: center;
    font-size: 50px;
    animation: bganim3 infinite  2s  alternate ease-out;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bcbcbcdd;
    color: #fff;
}

@keyframes bganim {
    0% {
        background-image: url(bgD.png);
        background-size: contain;
        background-position: right;
    }

    50% {
        background-image: url(bgC.png);
        
        background-size: contain;
        background-position: center;
    }

    100% {
        background-image: url(bgG.png);
        background-position: left;
    }
}

@keyframes bganim2 {
    0% {
        opacity: 0;
        color: #fff;
    }

    50% {
        opacity: 0.5;
        color: #111;
    }

    100% {
        opacity: 1;
        color: #fff;
    }
}
@keyframes bganim3 {
    from {
        position: relative;
        top: 0;
        left: 0;
        transform: scale(1);
    }
    to {
        position: relative;
        top: 0;
        left: 0;
        transform: scale(1.2);
    }
}

button {
    position: relative;
    bottom: 10%;
    right: 0;
    background-color: var(--bg-couleur);
    color: #fff;
    font-size: medium;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    animation: bouton ease-in alternate 1s infinite ;
}
button:hover {
    background-color: rgb(152, 47, 53);
    animation: none;
}

@keyframes bouton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
button i{
    margin-left: 5px;
    color: #fff;
    font-size: 20px;
}

.main_index h1{
    text-align: center;
}
.main_index button{
    text-align: center;
}

.main_index h1:hover {
    color: #fe0011;
    cursor: pointer;
    font-size: xx-large;
}
.main_index h1:hover i {
    color: #fe0011;
    cursor: pointer;
    font-size: xx-large;
}


/* Media query generale de la partie gauche */
@media screen and (max-width: 768px) {
    .main_index {
        width: 100%;
        height: 100%;
    }

    .main_index h1 {
        font-size: 30px;
    }
    .div2{
        display: block;
    }

    button {
        font-size: small;
        padding: 5px 10px;
    }
}
@media screen and (max-width: 480px) {
    .main_index {
        width: 100%;
        height: 100%;
    }

    .main_index h1 {
        font-size: 20px;
    }

    button {
        font-size: small;
        padding: 5px 10px;
    }
}

/* Fin Partie Index */



/* Partie cv  */

.font {
    display: grid;
    grid-template-columns: 1fr 90%;
}

.fonts {
    display: grid;
    grid-template-columns: 20px 1fr;
}

.blue {
    color: #fff;
    font-size: medium;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    padding: 10;
    height: 7vh;
    width: 3vw;
    clip-path: circle(60%);
    border-radius: 60%;
    background-color: var(--bg-couleur);
}

.blue i {
    margin-top: 7px;
    color: #fff;
    font-size: 30px;
}
@page {
    size: 21cm 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
     /* change the margins as you want them to be. */
}

.main_cv {
    width: 60vw ;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    background-color: #fff;
    display: grid;
    /* height: 100vh; */
    grid-template-rows: auto;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-areas:
        "c c"
        "s1 s2";
    grid-template-rows: 5vh 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.main_cv h1 {
    text-align: center;
    color: #fff;
}
#clr h1:hover {
    color: #fe0011;
    cursor: pointer;
    font-size: xx-large;
    animation: none;
}
#clr h1{
    animation: fermetur infinite  2s alternate-reverse ease-in-out;
}

@keyframes fermetur {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.main_cv h3 {
    text-transform: capitalize;
}

.couleur {
    grid-area: c;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.couleur button {
    width: 100%;
    height: 20px;
    border: none;
    opacity: 0;
}

.couleur0 {
    background-color: #080149;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.couleur1 {
    background-color: #460a0e;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.couleur2 {
    background-color: #063a80;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.couleur3 {
    background-color: #72a612;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* .main_cv #profil #cv_partie_gauche{
        background-color: var(--bg-couleur);
    } */

/* Le css de la section profil */
#profil {
    grid-area: s1;
    background-color: #d9d9d9;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* La partie qui contient le nom et l'image */
#cv_partie_gauche {
    background-color: var(--bg-couleur);
    padding: 20px;
    color: #fff;
    height: 82vh;
    width: 89%;
    /* clip-path: ellipse(80% 100% at 50% 0%); */
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}

#cv_partie_gauche h3 {
    text-align: center;
    color: #333;
    font-size: medium;
}

#nom {
    margin-bottom: 70px;
}

#imageProfil {
    background-color: #fff;
    height: 55vh;
    padding: 1%;
    clip-path: circle(60%);
    border-radius: 60%;
}

#imageProfil img {
    width: 98%;
    /* margin-bottom: 1%; */
    height: 98%;
}

/* Fin de la partie nom et prenon de la section profil */

/* Debut de la partie contact */
#contact {
    margin-left: 30px;
}


#contact .font .icone {
    margin-top: 7px;
    /* margin-left: 10px; */
    font-size: 20px;
    color: var(--bg-couleur);
}

#contact h3 {
    color: #080149;
    font-size: 10px;
    margin-right: 15px;
}

#contact .fontIcone {
    margin-left: 35px;
}

/* Fin de la partie contact de la section profil */

/* Debut de la partie Education */
#competence {
    background-color: var(--bg-couleur);
    padding: 20px;
    color: #fff;
    min-height: 1vh;
    width: 80%;
    margin: 0 5%;
    /* clip-path: ellipse(80% 100% at 50% 0%); */
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
}

#education {
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

#education h3 {
    color: #c2c0c0;
    font-size: 10px;
}

#education p {
    color: #fff;
    font-size: 8px;
    margin-top: 10px;
}
/* Fin de la partie education */

/* Debut de la partie reference */

#references .font .icone {
    margin-top: 8px;
    /* margin-left: 10px; */
    font-size: 10px;
    color: #fff;
}

#references .fontIcone {
    margin-left: 35px;
}

#references h3 {
    color: #c2c0c0;
    font-size: 10px;
}

#references p {
    margin-left: 35px;
    color: #fff;
    font-size: 8px;
    margin-top: 10px;
}

/* Fin partie reference */

/*Fin de la  Section profil  */

/* Partie cv_partie_droite */
#cv_partie_droite {
    grid-area: s2;
    background-color: #fff;
    padding: 5px;
}

#cv_partie_droite h1 {
    text-align: right;
    color: #fe0011;
    font-size: x-large;
    margin-top: 0;
}

#cv_partie_droite h1:hover {
    color: #fe0011;
    cursor: pointer;
    font-size: xx-large;
}

/* Debut de la partie profilDetail */
/* #profilDetail{
    } */
#profilDetail h3 {
    color: #c2c0c0;
    font-size: 10px;
}

#profilDetail p {
    font-size: small;
    /* margin-top: 10px; */
}


/* Fin de la partie profilDetail */
/* Debut de la partie experience */
/* #experience{
        margin-top: 60px;
        padding-left: 30px;
        padding-right: 30px;
    } */
#experience .droite {
    color: #080149;
    font-size: x-small;
}

#experience .fonts .icone {
    margin-top: 16px;
    font-size: 10px;
    color: var(--bg-couleur);
}

#experience h3 {
    color: var(--bg-couleur);
    font-size: small;
}

#experience p {
    font-size: small;
}

/* Fin de la partie experience */
/* Debut de la partie competence */
/* #competence{
        margin-top: 60px;
        padding-left: 30px;
        padding-right: 30px;
    } */

.bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.bar h3 {
    color: var(--bg-couleur);
    font-size: x-small;
    text-align: left;
}

.progressBar {
    display: flex;
    flex-direction: row;
    width: 80px;
}

.progress1 {
    width: 80%;
    background-color: var(--bg-couleur);
    margin-top: 10%;
    height: 2vh;
}

.progress2 {
    width: 20%;
    background-color: rgb(98, 98, 108);
    margin-top: 10%;
    height: 2vh;
}

.progress3 {
    width: 70%;
    background-color: var(--bg-couleur);
    margin-top: 10%;
    height: 2vh;
}

.progress4 {
    width: 30%;
    background-color: rgb(98, 98, 108);
    margin-top: 10%;
    height: 2vh;
}

.progress5 {
    width: 55%;
    background-color: var(--bg-couleur);
    margin-top: 10%;
    height: 2vh;
}

.progress6 {
    width: 45%;
    background-color: rgb(98, 98, 108);
    margin-top: 10%;
    height: 2vh;
}

#competences .comp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#competences .comp .left {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#competences .comp .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Fin de la partie Competences */

/* Debut de la parties loisirs */
#loisirs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.liste ul li {
    list-style: circle inside var(--bg-couleur);
    padding: 5px;
    text-transform: capitalize;
}

#telecharger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0 auto;
    padding: 10px;
    background-color: var(--bg-couleur);
    color: #fff;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
}

#telecharger:hover {
    background-color: rgb(98, 98, 108);
    cursor: pointer;
}

/* Fin de la partie loisirs */

/* Fin de la section cv_partie_droite */
/* fin Partie CV */



/* Debut de la partie responsive de la section profil */
@media screen and (max-width: 768px) {
    .main_cv {
        margin: 0 auto;
        width: 90%;
        padding: 0 ;
    }
    .main_cv h1 {
        font-size: 20px;
    }
    .font {
        display: grid;
        grid-template-columns: 1fr 90%;
    }

    .fonts {
        display: grid;
        grid-template-columns: 1fr 80% 1fr;
    }

    .blue {
        color: #4a1d1d;
        /* font-size: medium; */
        font-weight: bold;
        margin: 0 0 10px 10px;
        text-align: center;
        padding: 10;
        /* padding-top: 15px; */
        margin: 10px;
        height: 3vh;
        width: 2vw;
        clip-path: circle(60%);
        border-radius: 60%;
        background-color: var(--bg-couleur);
    }
    .blue i{
        font-size: 20px;
        position: relative;
        bottom: 55%;
        right: 55%;
        margin-left: 25%;
    }

    /* .main_cv {
        width: 94%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    } */

    #cv_partie_gauche {
        width: 100%;
        height: 40vh;
        padding: 0;
        /* margin: 4px auto; */
    }

    #imageProfil {
        height: 30vh;
        padding: 1%;
        clip-path: circle(80%);
        /* border-radius: 60%; */
        margin: 0 auto;
    }

    #imageProfil img {
        width: 98%;
        height: 98%;
    }

    #nom {
        margin-bottom: 20px;
    }

    #contact {
        margin-left: 0;
    }

    #contact .fontIcone {
        margin-left: 25px;
    }

    #references .fontIcone {
        margin-left: 25px;
    }

    #references p {
        margin-left: 25px;
    }

    
    #contact .font .icone {
        margin-top: 10px;
        font-size: 10px;
    }

    #education {
        padding-left: 10px;
        padding-right: 10px;
    }
    h3{
        font-size: 10px;
    }
    h2{
        font-size: 14px;
        margin-top: 8%;
    }
    p{
        font-size: 5px;
    }
    #profil {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #main_cv {
        width: 100%;
        position: absolute;
        left: 0;
    }
    #competence {
        background-color: var(--bg-couleur);
        padding: 4px;
        color: #fff;
        width: 90%;
        margin:0 auto; 
        /* clip-path: ellipse(80% 100% at 50% 0%); */
        border-top-left-radius: 45%;
        border-top-right-radius: 45%;
    }
    #loisirs ul li{
        font-size: 15px;
    }
    #profilDetail p {
        font-size: 10px;
    }
    #profilDetail h3 {
        font-size: 10px;
    }
    #experience p{
        font-size: 10px;
    }
    #experience h3{
        font-size: 13px;
    }
    #experience .fonts .icone {
        margin-top: 20px;
        font-size: 10px;
        color: var(--bg-couleur);
    }
    #competences h3{
        font-size: 10px;
    }
    #education h3{
        font-size: 12px;
    }
    #education p{
        font-size: 10px;
    }


}
@media screen and (max-width: 480px) {
    /* .main_cv {
        width: 100%;
        height: 100%;
    } */

    #imageProfil {
        height: 25vh;
        padding: 1%;
        clip-path: circle(80%);
    }

    .main_cv h1 {
        font-size: 1em;
    }
    
    .main_cv h3 {
        font-size: 1em;
    }
    .font {
        display: grid;
        grid-template-columns: 1fr 90%;
    }

    .fonts {
        display: grid;
        grid-template-columns: 1fr 80% 1fr;
    }

    .blue {
        color: #4a1d1d;
        /* font-size: medium; */
        font-weight: bold;
        margin: 0 0 10px 10px;
        text-align: center;
        padding: 10;
        /* padding-top: 15px; */
        margin: 10px;
        height: 2vh;
        width: 3vw;
        clip-path: circle(60%);
        border-radius: 60%;
        background-color: var(--bg-couleur);
    }
    .blue i{
        font-size: 20px;
        position: relative;
        bottom: 55%;
        right: 55%;
        
        margin-left: 15%;
    }
    
    #contact h2{
        font-size: 14px;
        margin-top: 15%;
    }

    
    #contact .font .icone {
        margin-top: 10px;
        font-size: 10px;
    }
    #education h2{
        font-size: 14px;
        margin-top: 20%;
    }
    #references h2{
        font-size: 14px;
        margin-top: 18%;
    }

    
    #references .font .icone {
        margin-top: 10px;
        font-size: 10px;
        color: #fff;
    }

    #references .fontIcone {
        margin-left: 20px;
    }

    #references p {
        margin-left: 20px;
    }

    #contact .fontIcone {
        margin-left: 20px;
    }

    #loisirs h2{
        font-size: 14px;
        margin-top: 18%;
    }
    #loisirs ul li{
        font-size: 12px;
    }
    #competence .comp .bar  h3 {
        font-size: 5%;
    }
    
    /* .comp .bar {
        display: flex;
        flex-direction: row;
        width: 80px;
    } */
    
    .comp .bar .progress1 {
        width: 80%;
        background-color: var(--bg-couleur);
        margin-top: 10%;
        height: 1vh;
    }
    
    .comp .bar .progress2 {
        width: 20%;
        background-color: rgb(98, 98, 108);
        margin-top: 10%;
        height: 1vh;
    }
    
    .comp .bar .progress3 {
        width: 70%;
        background-color: var(--bg-couleur);
        margin-top: 10%;
        height: 1vh;
    }
    
    .comp .bar .progress4 {
        width: 30%;
        background-color: rgb(98, 98, 108);
        margin-top: 10%;
        height: 1vh;
    }
    
    .comp .bar .progress5 {
        width: 55%;
        background-color: var(--bg-couleur);
        margin-top: 10%;
        height: 1vh;
    }
    
    .comp .bar .progress6 {
        width: 45%;
        background-color: rgb(98, 98, 108);
        margin-top: 10%;
        height: 1vh;
    }
}

/* Media pour l'impression sur A4 */
@media print {
    @page {
        size: A4;
        margin: 0;
    }
    body {
        margin: 0;
        padding: 0;
    }
    #clr{
        display: none;
    }
    #telecharger {
        display: none;
    }
    .main_cv {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }

    #profil {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #nom{
        margin: 0;
        padding: auto;
    }
    .blue {
        color: #4a1d1d;
        font-size: medium;
        font-weight: bold;
        text-align: center;
        padding: 10;
        height: 3vh;
        width: 2vw;
    }
    .blue i{
        margin-top: 15px;
        font-size: 20px;
        color: #000000;
    }
    #contact{
        margin-left: 20px;
        padding: 0;
    }
    #contact .blue i{
        margin-left: 10px;
    }
    #contact .icone i{
        margin-left: 10px;
    }
    #contact .font{
        margin-left: 35px;
    }

    #contact .fontIcone i {
        margin-left: 35px;
        color: #000000;
    }
    #contact .fontIcone h3 {
        margin-left: 25px;
    }
    #imageProfil {
        height: 20vh;
        width: 20vh;
        margin: 0 auto;
        /* padding: 1%; */
        clip-path: circle(80%);
    }
    #competence {
        padding: 20px;
        color: #000000;
    }
    #education p{
        color: #000000;
        font-size: x-small;
    }
    #cv_partie_gauche {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    #cv_partie_droite {
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 0;
    }  
    
    
    #education .font{
        margin-left: 10px;

    }
    #references .font{
        margin-left: 25px;

    }
    
    #references p {
        font-size: small;
        margin-left: 40px;
        color: #000000;
    }

    #references .fontIcone {
        margin-left: 25px;
    }
    #references .fontIcone i {
        margin-top: 8px;
        margin-left: 100%;
        color: #000000;
    }
    #references  h3 {
        margin-left: 25px;
        color: #000000;
        font-size: small;
    }

    #profilDetail p {
        font-size: small;
        color: #000000;
        margin-right: 10px;
    }
    #profilDetail h3 {
        font-size: small;
        color: #000000;
    }
    #experience p{
        font-size: small;
        color: #000000;
        margin-right: 10px;
    }
    #experience h3{
        font-size: small;
        color: #000000;
        margin-right: 10px;
    }


    #competences h3{
        color: #000000;
        text-justify: auto;
        letter-spacing: none;
    }
    
    #competences .progress1 {
        width: 80%;
        background-color: black;
        margin-top: 10%;
        height: 1vh;
    }
    
    .comp .bar .progress2 {
        width: 20%;
        background-color: rgb(98, 98, 108);
        margin-top: 10%;
        height: 1vh;
    }
    
    .comp .bar .progress3 {
        width: 70%;
        background-color: black;
        margin-top: 10%;
        height: 1vh;
    }
    
    .comp .bar .progress4 {
        width: 30%;
        background-color: rgb(98, 98, 108);
        margin-top: 10%;
        height: 1vh;
    }
    
    .comp .bar .progress5 {
        width: 55%;
        background-color: var(--bg-couleur2);
        margin-top: 10%;
        height: 1vh;
    }
    
    .comp .bar .progress6 {
        width: 45%;
        background-color: rgb(98, 98, 108);
        margin-top: 10%;
        height: 1vh;
    }



}
/* Fin de la partie responsive de la section profil */